@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    font-family: 'Rubik', sans-serif;
}

div {
    margin-top: 20%;
}

p {
    text-align:center;
    font-size:7rem;
    color: black;
}